
<div>
    Typeahead example:
</div>
<div style="display: grid; grid: auto-flow / 1fr 1fr 1fr; gap: 1em;">
    <mat-form-field  floatLabel="always">
        <mat-label>Person</mat-label>
        <mer-select merSelectFormField [dataSource]="personDS" [displayWith]="displayPersonWith" placeholder="Select a person">
        </mer-select>
    </mat-form-field>

</div>


<div style="display: grid; grid: auto-flow / 1fr 1fr 1fr; gap: 1em;">
    <mat-form-field>
        <mat-label>Colors</mat-label>
        <mer-select merSelectFormField [dataSource]="colors" [multiple]="true" placeholder="Select a color" #c></mer-select>
    </mat-form-field>
    <div>
        {{c.value() | json}}
    </div>

    <mat-form-field>
        <mat-label>Person</mat-label>
        <mer-select merSelectFormField [dataSource]="data" [displayWith]="displayPersonWith"></mer-select>
    </mat-form-field>
</div>

<div style="display: grid; grid: auto-flow / 1fr 1fr 1fr; gap: 1em;">
    <mat-form-field>
        <mat-label>Colors</mat-label>
        <mer-select merSelectFormField [dataSource]="colors" [value]="'Blue'" [disabled]="true"></mer-select>
    </mat-form-field>

    <mat-form-field floatLabel="always">
        <mat-label>Person</mat-label>
        <mer-select merSelectFormField [dataSource]="data" [displayWith]="displayPersonWith" [value]="{name: 'Nobody'}" [disabled]="true"></mer-select>
    </mat-form-field>
</div>



<div style="display: grid; grid: auto-flow / 1fr 1fr 1fr; gap: 1em;">
    <mat-form-field>
        <mat-label>Colors</mat-label>
        <mer-select merSelectFormField [dataSource]="colors" [formControl]="matform1" required></mer-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Person</mat-label>
        <mer-select merSelectFormField
                     placeholder="Search..."
                     [dataSource]="data" [displayWith]="displayPersonWith" [formControl]="matform2" required></mer-select>
    </mat-form-field>
</div>

<div style="display: grid; grid: auto-flow / 1fr 1fr 1fr; gap: 1em;">
    <mat-form-field>
        <mat-label>Colors</mat-label>
        <mer-select #s1 merSelectFormField [dataSource]="colors"></mer-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Person</mat-label>
        <mer-select #s2 merSelectFormField [dataSource]="data" [displayWith]="displayPersonWith"></mer-select>
    </mat-form-field>

    <div>
        <button type="button" (click)="toggleLoading(s1, s2)"> Toggle loading</button>
    </div>
</div>

<div style="display: grid; grid: auto-flow / 1fr 1fr 1fr; gap: 1em;">
    <mat-form-field appearance="outline">
        <mat-label>Colors</mat-label>
        <mer-select #s3 merSelectFormField [dataSource]="colors"></mer-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Person</mat-label>
        <mer-select #s4 merSelectFormField [dataSource]="data" [displayWith]="displayPersonWith"></mer-select>
    </mat-form-field>

    <div>
        <button type="button" (click)="toggleLoading(s3, s4)"> Toggle loading</button>
    </div>
</div>




<div style="padding: 20px">
    colors:
    <mer-select [dataSource]="colors" class="mer-standard"></mer-select>

    disableOpeningWhenFocusedByKeyboard=true
    <mer-select [dataSource]="colors" disableOpeningWhenFocusedByKeyboard class="mer-standard"></mer-select>


    colors: disableSearch
    <mer-select [dataSource]="colors" disableSearch class="mer-standard"></mer-select>

    colors: canClear=false
    <mer-select [dataSource]="colors" [canClear]="false" class="mer-standard"></mer-select>

    colors: readonly
    <mer-select [dataSource]="colors" readOnly [value]="color" class="mer-standard"></mer-select>


    colors: disabled
    <mer-select [dataSource]="colors" [disabled]="true" [value]="color" class="mer-standard"></mer-select>

    colors: formControl and required
    <mer-select [dataSource]="colors" [formControl]="form" class="mer-standard"></mer-select>

    people
        <mer-select [dataSource]="data" [displayWith]="displayPersonWith" class="mer-standard"></mer-select>
</div>
