@if (!multipleSelection()) {

    @if (textinput.value == '') {
        <div class="mer-select-trigger-wrapper mer-select-trigger" (click)="focus();_handleClick($event)">
            <div style="height:.67em;"></div>
            <ng-container [ngTemplateOutlet]="triggerTemplate()?.templateRef || defaulttrigger"
                          [ngTemplateOutletContext]="{$implicit: value()}">

            </ng-container>
        </div>
    } @else {
        <div class="mer-select-trigger-placeholder mer-select-triggerw">
            <div style="height:.67em;"></div>
        </div>
    }


    <input #textinput class="mer-select-input" style="outline: none"
           [readonly]="readOnly() || disableSearch()"
           [disabled]="disabled()"
           [placeholder]="(empty && placeholder() && shouldLabelFloat) ? placeholder() : ''"
           (focus)="_handleFocus()"
           (blur)="_handleBlur()"
           (keydown)="_handleKeydown($event)"
           (input)="_handleInput($event)"
           (click)="_handleClick($event)"

    >
} @else {
    <div class="mer-select-trigger-wrapper  multiple-select-mode"
         (click)="focus();_handleClick($event)">
        <div class="mer-select-multiple-values mer-select-trigger">
            <div style="height:.67em;"></div>
            <ng-container [ngTemplateOutlet]="triggerTemplate()?.templateRef || defaulttrigger"
                          [ngTemplateOutletContext]="{$implicit: value()}">

            </ng-container>

            <input #textinput class="mer-select-input"
                   [readonly]="readOnly() || disableSearch()"
                   [disabled]="disabled()"
                   [placeholder]="(placeholder() && shouldLabelFloat && !(readOnly() || disableSearch())) ? placeholder() : ''"
                   (focus)="_handleFocus()"
                   (blur)="_handleBlur()"
                   (keydown)="_handleKeydown($event)"
                   (input)="_handleInput($event)"
                   (click)="_handleClick($event)">
        </div>
    </div>
}

@if (!disabled() && !readOnly()) {
    <div class="chevron-wrapper" (click)="(hasValue() && canClear()) ? clearValue() : focus()">
        @if (hasValue() && canClear()) {
            <div class="clear-icon"></div>
        } @else {
            <span class="chevron"></span>
        }
    </div>
}

@if (loading()) {
    <mer-progress-bar [indeterminate]="true"></mer-progress-bar>
}

<ng-template #panelTmpl>
    <div class="mer-select-panel-wrapper"
         [id]="panelId"
         [class]="panelClass()"
         [class.mer-select-panel-visible]="showPanel"
         [class.mer-select-panel-hidden]="!showPanel"
         [class.mer-mat-form-field]="inMatFormField"
         [@panelAnimation]="isOpen ? 'visible' : 'hidden'"
         (@panelAnimation.done)="_animationDone.next($event)"

    >
        @if (showMultiSelectActions()){
            <div class="mer-select-multiple-actions" #multiactionspanel>
                <ng-container [ngTemplateOutlet]="multiActionsTemplate()?.templateRef || defaultMultipleActions">
                </ng-container>
            </div>
        }

    <div class="mer-select-panel" #panel
         role="listbox"
         [class.with-select-actions]="showMultiSelectActions()">

        @for (opt of filteredOptions(); track opt) {
            <mer-option [value]="opt">
                <ng-container [ngTemplateOutlet]="optionTemplate()?.templateRef || defaultopt"
                              [ngTemplateOutletContext]="{$implicit: opt, option: opt }">
                </ng-container>
            </mer-option>
        }
    </div>
    </div>
</ng-template>


<ng-template #defaulttrigger let-opt>
    @if (!multipleSelection()) {
        {{ getDisplayValue(opt) }}
    } @else {
        @if (opt && isArray(opt) && opt.length > 0) {
            @for (item of opt; track item) {
                <div class="mer-select-chip">
                    {{ getDisplayValue(item) }}
                    @if (!disabled() && !readOnly()) {
                        <span class="mer-select-chip-remove" (mousedown)="$event.stopPropagation()"
                              (click)="removeSelection(item, $event)">&times;</span>
                    }
                </div>
            }

        }
    }
</ng-template>


<ng-template #defaultopt let-opt>
    {{ getDisplayValue(opt) }}
</ng-template>

<ng-template #defaultMultipleActions >
    <span class="mer-select-multiple-action select-all" (click)="selectAllFiltered()">{{computedSelectAllFilteredText()}}</span>
    <span class="mer-select-multiple-action deselect-all" (click)="deselectAll()">{{computedDeselectAllText()}}</span>
</ng-template>

